# Task 6.1

In [1]:
#Imported libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Imported path
path = r'/Users/racheldurand/Desktop/Data Analytics/Achievement 6'

In [3]:
path

'/Users/racheldurand/Desktop/Data Analytics/Achievement 6'

In [4]:
#Imported Adidas US Sales Dataset.csv
df_adidas_US = pd.read_csv(os.path.join(path, 'Original Data', 'Adidas US Sales Dataset.csv'), index_col = False)

# Exploring and Cleaning Data

In [5]:
#Check shape
df_adidas_US.shape

(9648, 13)

In [6]:
#Check head
df_adidas_US.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","$600,000","$300,000",50%,In-store
1,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","$500,000","$150,000",30%,In-store
2,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","$400,000","$140,000",35%,In-store
3,Foot Locker,1185732,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"$382,500","$133,875",35%,In-store
4,Foot Locker,1185732,1/5/20,Northeast,New York,New York,Men's Apparel,$60.00,900,"$540,000","$162,000",30%,In-store

In [7]:
#Check data types
df_adidas_US.dtypes

Retailer            object
Retailer ID          int64
Invoice Date        object
Region              object
State               object
City                object
Product             object
Price per Unit      object
Units Sold          object
Total Sales         object
Operating Profit    object
Operating Margin    object
Sales Method        object
dtype: object

In [8]:
#Converting data types to float data types for better analysis
columns_to_clean = ["Price per Unit", "Total Sales", "Operating Profit", "Units Sold"]
for column in columns_to_clean:
    df_adidas_US[column] = df_adidas_US[column].replace('[\$,]', '', regex=True).astype(float)

In [9]:
#Converting percentage to demical to float data type
df_adidas_US['Operating Margin'] = df_adidas_US['Operating Margin'].str.rstrip('%').astype(float) / 100

In [10]:
df_adidas_US.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   float64
 9   Total Sales       9648 non-null   float64
 10  Operating Profit  9648 non-null   float64
 11  Operating Margin  9648 non-null   float64
 12  Sales Method      9648 non-null   object
dtypes: float64(5), int64(1), object(7)
memory usage: 980.0+ KB

In [11]:
#Adding year and month individual columns for better analysis
df_adidas_US['Invoice Year']=pd.to_datetime(df_adidas_US['Invoice Date']).dt.year
df_adidas_US['Invoice Month']=pd.to_datetime(df_adidas_US['Invoice Date']).dt.month
df_adidas_US.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Invoice Year,Invoice Month
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,0.50,In-store,2020,1
1,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,0.30,In-store,2020,1
2,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,0.35,In-store,2020,1
3,Foot Locker,1185732,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,0.35,In-store,2020,1
4,Foot Locker,1185732,1/5/20,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,0.30,In-store,2020,1

# Deleted Column(s)

In [12]:
#Deleted Retailer ID column because it is not necessary for analysis
df_adidas_US = df_adidas_US.drop(columns=['Retailer ID'])

In [13]:
df_adidas_US.columns

Index(['Retailer', 'Invoice Date', 'Region', 'State', 'City', 'Product',
       'Price per Unit', 'Units Sold', 'Total Sales', 'Operating Profit',
       'Operating Margin', 'Sales Method', 'Invoice Year', 'Invoice Month'],
      dtype='object')

# Missing Data

In [14]:
#Check for missing values 
df_adidas_US.isnull().sum()

Retailer            0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
Invoice Year        0
Invoice Month       0
dtype: int64

# Checking For Duplicates

In [15]:
#Check for duplicates
df_duplicates = df_adidas_US[df_adidas_US.duplicated()]

In [16]:
#Check duplicates by looking at the shape
df_adidas_US.shape

(9648, 14)

In [17]:
df_duplicates

Empty DataFrame
Columns: [Retailer, Invoice Date, Region, State, City, Product, Price per Unit, Units Sold, Total Sales, Operating Profit, Operating Margin, Sales Method, Invoice Year, Invoice Month]
Index: []

In [18]:
#No duplicates found.

# Descriptive Statistics

In [19]:
df_adidas_US.describe().round(2)

,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Invoice Year,Invoice Month
count,9648.00,9648.00,9648.00,9648.00,9648.00,9648.00,9648.00
mean,45.22,256.93,93273.44,34425.28,0.42,2020.87,6.46
std,14.71,214.25,141916.02,54193.12,0.10,0.34,3.45
min,7.00,0.00,0.00,0.00,0.10,2020.00,1.00
25%,35.00,106.00,4254.50,1922.00,0.35,2021.00,3.00
50%,45.00,176.00,9576.00,4371.50,0.41,2021.00,6.00
75%,55.00,350.00,150000.00,52063.00,0.49,2021.00,9.00
max,110.00,1275.00,825000.00,390000.00,0.80,2021.00,12.00

# Export into csv and pickle file

In [20]:
#Exported into csv file
df_adidas_US.to_csv(os.path.join(path, 'Prepared Data', 'df_adidas_US_clean.csv'))

In [21]:
#Export into pickle file
df_adidas_US.to_pickle(os.path.join(path, 'Prepared Data','df_adidas_US_clean.pkl'))